Source: libdisplaycore-icons-ecqlipse32
Section: libraries
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-icons-ecqlipse32
Section: libraries
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Icons
Depends: libdisplaycore-core, libdisplaycore-toolkit-monoicon
Provides: Ecqlipse32.h
Description: Ecqlipse32 library
 Ecqlipse icon set in 32x32 pixel format for the MonoIcon widget system



